---
layout: default
title: "Coursehacker's Class Blog"
---

<div id="home">
  <ul class="posts">
     {% for post in site.posts %}
	{% for authors in post.author %}
      		{% if {{site.authors[authors].prof}} == true %}
        	<strong>
      		{% endif %}
	{% endfor %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> by 
		{% assign authorCount = post.author | size %}
		{% if authorCount == 0 %}
    
		{% elsif authorCount == 1 %}
    			{{ post.author | first }}
		{% else %}
    			{% for authors in post.author %}
        			{% if forloop.first %}
					{% assign authored = site.authors[authors] %}
        				{{ authored.name}}
        			{% elsif forloop.last %}
        				{% assign authored = site.authors[authors] %}
        				and {{ authored.name }}
        			{% else %}
        				{% assign authored = site.authors[authors] %}
        				 , {{ authored.name}}
        			{% endif %}
    			{% endfor %}
		{% endif %}



</li>
	
      {% for authors in post.author %}
      		{% if {{site.authors[authors].prof}} == true %}
        	</strong>
      		{% endif %}
	{% endfor %}
    {% endfor %}
  </ul>
</div>

<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </p>
  {% else %}
    <p class="previous disabled">
      <span>Previous</span>
    </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
    <p class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </p>
  {% else %}
    <p class="next disabled">
      <span>Next</span>
    </p>
  {% endif %}

</div>
