{% extends "layout.html" %}
{% block body %}
  <h2>bad things</h2>
  <p>There are many bad things in the world. Sometimes it seems like there are more of them than good things, but I'm not sure that that's the case. Sometimes people take something good and make something bad with it. It's the worst. Capitalism has worked well for many of those people. I probably say this because it hasn't worked well for me. I'm doing what I can to change this without taking something good and making something bad with it.</p>
{% endblock %}
