{% extends "layout.html" %}
{% block body %}
  <h2>good things</h2>
  <p>I saw the film Gravity recently. It was good. Other good things include the film The Tree of Life, the tv series The Adventures of Pete and Pete, the existence of Neil Young, Deerhoof, Danielson, Fennesz, Stars of the Lid, Thee Oh Sees, Ty Segall, Kurt Vonnegut, A Confederacy of Dunces, Curb Your Enthusiasm, Robert Rauschenberg, Bruce Nauman, Richard Tuttle, the spirit of Marcel Duchamp, Toby Huss, Bill Callahan, Song of Solomon, Arrested Development, Paul Thomas Anderson, Charles Kaufman, Andy Kaufman, Tim/Eric, the Best Show on WFMU, transcribed interviews, my son and wife, goodness, grace, people who make ugly pretty things, people who give themselves to something great because it's great and not because they've lost at life. There are other good things. </p>
{% endblock %}
